<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
  <%= render(partial: 'tool_components/nav_bar') %>
  <section class="container-fluid flex-grow mt-4">
    <div class="container">
      <%= render(partial: 'tool_components/flash_notice') %>
      <%= yield %>
    </div>
  </section>
  <%= render(partial: 'tool_components/footer') %>
  </body>
</html>
